@model Betting.ViewModels.Tickets.EditTicketLineViewModel
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>TicketLine</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TicketLine.TicketLine.TicketId)
            @Html.HiddenFor(model => model.TicketLine.TicketLine.Id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.TicketLine.TicketLine.PlayerId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TicketLine.TicketLine.PlayerId, Model.Players, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TicketLine.TicketLine.PlayerId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TicketLine.TicketLine.GamePlayedOn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TicketLine.TicketLine.GamePlayedOn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TicketLine.TicketLine.GamePlayedOn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TicketLine.TicketTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TicketLine.TicketTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TicketLine.TicketTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TicketLine.TicketLine.Game, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TicketLine.TicketLine.Game, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TicketLine.TicketLine.Game, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TicketLine.TicketLine.BetTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TicketLine.TicketLine.BetTypeId, Model.BetTypes, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TicketLine.TicketLine.BetTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TicketLine.TicketLine.Odd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TicketLine.TicketLine.Odd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TicketLine.TicketLine.Odd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TicketLine.TicketLine.ResultId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TicketLine.TicketLine.ResultId, Model.Results, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TicketLine.TicketLine.ResultId, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Opslaan" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Terug", MVC.Tickets.Details(Model.TicketLine.TicketLine.TicketId))
    </div>