@model Betting.ViewModels.Tickets.TicketViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>Ticket van @Html.DisplayFor(model => model.Ticket.CreatedOn)</h2>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ticket.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket.Price)
        </dt>

        <dd>
            € @Html.DisplayFor(model => model.Ticket.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket.Payout)
        </dt>

        <dd>
            € @Html.DisplayFor(model => model.Ticket.Payout)
        </dd>
    </dl>
        <p>
            <a href="@Url.Action(MVC.TicketLines.Create(Model.Ticket.Id))" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Voeg een nieuwe lijn toe
            </a>
        </p>
        <table class="table-bordered table-condensed">
            <tr>
                <th>
                    Speler
                </th>
                <th>
                    Speeldatum
                </th>
                <th>
                    Wedstrijd
                </th>
                <th>
                    Quotering
                </th>
                <th>
                    Resultaat
                </th>
                <th></th>
            </tr>

            @foreach (var ticketLine in Model.TicketLines)
            {
                var rowClass = ticketLine.ResultEnum == ResultEnum.Won ? "bg-success" : ticketLine.ResultEnum == ResultEnum.Lost ? "bg-danger" : "";
                <tr class="@rowClass">
                    <td>
                        @Html.DisplayFor(modelItem => ticketLine.Player.Name)
                    </td>
                    <td>
                        @ticketLine.GamePlayedOn.ToString("dd-MM-yyyy H:mm")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ticketLine.Game) <span class="badge">@Html.DisplayFor(modelItem => ticketLine.BetType.Name)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ticketLine.Odd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ticketLine.Result.Name)
                    </td>
                    <td>
                        <a href="@Url.Action(MVC.TicketLines.Edit(ticketLine.Id))" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="@Url.Action(MVC.TicketLines.Delete(ticketLine.Id))" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </table>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Ticket.Id }) |*@
    @Html.ActionLink("Terug", MVC.Tickets.Index())
</p>
